.grid-container {
    display: grid;
    grid-template-columns: 216px 216px 216px;
}

input {
    margin: 3px 0;
    width: 155px;
    height: 35px;
    background-color: whitesmoke;
    border: none;
    display: inline;
}

button {
    margin: 3px 0;
    height: 35px;
    width: 91px;
    background-color: gold;
    border: none;
}

select {
    margin: 3px 0;
    height: 35px;
    width: 155px;
    background-color: whitesmoke;
    border: none;
}

body {
    background-color: white;
}