input {
    height: 35px;
    margin: 3px 0;
    width: 247px;
    border: none;
    display: inline;
}

button {
    height: 35px;
    margin: 5px 0;
    width: 247px;
    background-color: gold;
    border: none;
}

body {
    background-color: white;
}